.horizontal-enter-active,
.horizontal-leave-active {
  transition: all 0.5s ease;
  opacity: 1;
  width: 100%;
}

.horizontal-enter-active{
  transform: translatex(0px);
  transition: all 0.5s ease;
}
.horizontal-leave-active{
  transition: all 0.5s ease;
  transform: translatex(0px);
}
.horizontal-leave-to {
  transition: all 0.5s ease;
  position: absolute;
  transform: translatex(-300px);
  opacity: 0;
}
.horizontal-enter-from {
  transition: all 0.5s ease;
  transform: translatex(300px);
  position: absolute;
  opacity: 0;
}

.horizontalPage-enter-active,
.horizontalPage-leave-active {
  transition: all 0.8s ease;
  opacity: 1;
  width: 100%;
  position: absolute;

  transform: translatex(0px);
  transition: all 0.8s ease;

}

.horizontalPage-leave-to {
  transition: all 0.8s ease;
  position: absolute;
  transform: translatex(-500px);
  opacity: 0;
}
.horizontalPage-enter-from {
  transition: all 0.8s ease;
  transform: translatex(500px);
  position: absolute;
  opacity: 0;
}

.boxItem {
  border-radius: 0.5rem;
  overflow: visible;
  position: relative;
  // border: 2px solid rgb(3, 156, 195) ;
  height: 9rem;
  width: 100%;
  box-shadow: 0px 0.1rem 1rem 0px rgba(0, 0, 0, 0.205);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  transition: all 0.7s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.03);
  }
  & .boxText{
    text-wrap: auto; font-size: 0.9rem; line-height: 1.3;
  }
  & .boxTitle{
    font-size: 1.1rem;
  }
}

@media (max-width: 780px) {
  .boxItem {
    height: 8.3rem;
    & .boxTitle{
      font-size: 1rem;
    }
    & .boxText{
      text-wrap: auto; font-size: 0.7rem; line-height: 1.3;
    }
  }
}