.horizontal-enter-active,
.horizontal-leave-active {
  transition: all 0.5s ease;
  opacity: 1;
  width: 100%;
}

.horizontal-enter-active{
  transform: translatex(0px);
  transition: all 0.5s ease;

}
.horizontal-leave-active{
  transition: all 0.5s ease;

  transform: translatex(0px);
}
.horizontal-leave-to {
  transition: all 0.5s ease;
  position: absolute;
  transform: translatex(-500px);
  opacity: 0;
}
.horizontal-enter-from {
  transition: all 0.5s ease;
  transform: translatex(500px);
  position: absolute;
  opacity: 0;
}

.horizontalPage-enter-active,
.horizontalPage-leave-active {
  transition: all 0.8s ease;
  opacity: 1;
  width: 100%;
  position: absolute;

  transform: translatex(0px);
  transition: all 0.8s ease;

}

.horizontalPage-leave-to {
  transition: all 0.8s ease;
  position: absolute;
  transform: translatex(-500px);
  opacity: 0;
}
.horizontalPage-enter-from {
  transition: all 0.8s ease;
  transform: translatex(500px);
  position: absolute;
  opacity: 0;
}

